*.gz
cloud-init-user-data.img
ubuntu16.04-cloudimg-powerpc.qcow2
ubuntu16.04-cloudimg-powerpc.qcow2.sum
ubuntu16.04-cloudimg-ppc64el.qcow2
ubuntu16.04-cloudimg-ppc64el.qcow2.sum
ubuntu21.04-cloudimg-ppc64el.qcow2
ubuntu21.04-cloudimg-ppc64el.qcow2.sum
ubuntu21.10-cloudimg-ppc64el.qcow2
ubuntu21.10-cloudimg-ppc64el.qcow2.sum
fedora34-cloudimg-ppc64le.qcow2
fedora34-cloudimg-ppc64le.qcow2.sum
