CONFIG_PPC_SECURE_BOOT=y
CONFIG_PPC_SECVAR_SYSFS=y
CONFIG_IMA_ARCH_POLICY=y
CONFIG_KEXEC_SIG=y
CONFIG_IMA=y
CONFIG_IMA_APPRAISE=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_INTEGRITY_PLATFORM_KEYRING=y
CONFIG_INTEGRITY=y
CONFIG_SECURITY=y
CONFIG_SYSTEM_BLACKLIST_KEYRING=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_LOAD_PPC_KEYS=y
